img {
  max-width: 100%;
  display: block;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.button-field input[type=button], .button-field input[type=reset], .button-field button[type=button], .button-field button[type=reset] {
  display: block !important;
  box-sizing: border-box !important;
  padding: 10px !important;
  border-radius: 2px !important;
  cursor: pointer;
  box-shadow: 0 3px 3px gray;
  border: 1px solid #a0a0a0;
  color: black;
  background-color: white;
}
.button-field input[type=submit], .button-field button[type=submit] {
  display: block !important;
  box-sizing: border-box !important;
  padding: 10px !important;
  border-radius: 2px !important;
  cursor: pointer;
  box-shadow: 0 3px 3px gray;
  border: none !important;
  color: white;
  background-color: #3a0da4;
}

div.container {
  max-width: 950px;
  margin: 0 auto;
}
div.container header {
  background-color: #ed6c00;
  margin: 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  div.container header {
    padding: 12px 7px;
  }
}
div.container header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  div.container header h1 {
    font-size: 18px;
  }
}
div.container header h1 a {
  color: black;
  text-decoration: none;
}
div.container header h1 a span {
  color: white;
  font-size: 120%;
}
div.container header a.shopping-cart-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 15px;
}
@media only screen and (max-width: 600px) {
  div.container header a.shopping-cart-button {
    padding: 5px 14px;
  }
}
div.container header a.shopping-cart-button i.fas {
  font-size: 2.2em;
}
div.container .banner img {
  width: 100%;
  display: block;
}
div.container .breadcrumb-list {
  background-color: #461e1e;
}
div.container .breadcrumb-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
div.container .breadcrumb-list ul li {
  text-align: right;
}
div.container .breadcrumb-list ul li a {
  color: white;
  text-decoration: none;
}
div.container .breadcrumb-list ul li + li::before {
  content: ">";
  color: white;
  margin: 0 5px;
}
div.container .main-contents {
  background-color: #fef7e9;
}
div.container .main-contents h2 {
  position: relative;
  margin-top: 0;
  margin-bottom: 2em;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}
div.container .main-contents h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}
div.container .main-contents div.no-item-message p {
  margin: 0;
  padding: 0 110px 50px;
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.no-item-message p {
    padding: 0 20px 50px;
  }
}
div.container .main-contents div.no-item-message p i.fas {
  padding: 0 6px;
}
div.container footer .footer-logo {
  text-align: center;
  font-size: 25px;
  background-color: #ed6c00;
  color: white;
  padding: 20px 0;
}
div.container footer .ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #bebebe;
}
div.container footer .ads a {
  display: block;
  box-sizing: border-box;
  width: 320px;
  height: 100px;
  border: 1px solid white;
  margin: 10px 0;
}

div.container .main-contents div.message {
  margin: 0 110px;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.message {
    margin: 0 20px;
  }
}
div.container .main-contents div.message .order-number {
  background-color: white;
}
div.container .main-contents div.message p {
  margin: 0;
  margin-bottom: 50px;
}
div.container .main-contents div.message p i.fas {
  padding: 0 6px;
}
div.container .main-contents div.message .button-field {
  padding-bottom: 50px;
}
div.container .main-contents div.message .button-field input[type=button] {
  margin: 0 auto;
}
div.container .main-contents div.message table {
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 1.5;
}
div.container .main-contents div.message table tr {
  height: 60px;
}
div.container .main-contents div.message table tr th {
  background-color: #e5e5e5;
  text-align: center;
  width: 40%;
}
div.container .main-contents div.message table tr td {
  padding: 12px;
  word-break: break-all;
}
div.container .main-contents div.message table, div.container .main-contents div.message th, div.container .main-contents div.message td {
  border: 1px solid #a0a0a0;
}
div.container .main-contents div.contact-table {
  padding: 0 30px 50px;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.contact-table {
    padding: 0 0 50px;
  }
}
div.container .main-contents div.contact-table form {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 26px;
}
div.container .main-contents div.contact-table form label, div.container .main-contents div.contact-table form input, div.container .main-contents div.contact-table form textarea, div.container .main-contents div.contact-table form button {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div.container .main-contents div.contact-table form input, div.container .main-contents div.contact-table form textarea {
  border: 1px solid #a0a0a0;
  border-radius: 2px;
  padding: 10px;
}
div.container .main-contents div.contact-table form .input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.container .main-contents div.contact-table form .input-container .input-field {
  margin-bottom: 20px;
  flex-basis: 48%;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.contact-table form .input-container .input-field {
    flex-basis: 100%;
  }
}
div.container .main-contents div.contact-table form .input-container .input-field input {
  height: 3em;
  width: 100%;
}
div.container .main-contents div.contact-table form .input-container .input-field label {
  color: black;
  font-weight: bold;
  margin-bottom: 7px;
}
div.container .main-contents div.contact-table form .input-container .input-field small {
  background-color: #ed0000;
  border-radius: 4px;
  color: white;
  padding: 2px 6px;
  font-weight: bold;
  margin: 0 4px;
}
div.container .main-contents div.contact-table form .input-container .text-field textarea {
  height: 10em;
  width: 100%;
}
div.container .main-contents div.contact-table form .input-container .grow-field {
  flex-basis: 100%;
}
div.container .main-contents div.contact-table form .input-container .information {
  text-align: center;
  font-weight: bold;
  color: red;
}
div.container .main-contents div.contact-table form .button-field {
  display: flex;
  justify-content: center;
}
div.container .main-contents div.contact-table form .button-field input:first-child {
  margin-right: 10px;
}
div.container .main-contents div.contact-table form .button-field input:last-child {
  margin-left: 10px;
}
div.container .main-contents div.contact-table form table {
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 1.5;
}
div.container .main-contents div.contact-table form table tr {
  height: 60px;
}
div.container .main-contents div.contact-table form table tr th {
  background-color: #e5e5e5;
  text-align: center;
  width: 40%;
}
div.container .main-contents div.contact-table form table tr td {
  padding: 12px;
  word-break: break-all;
}
div.container .main-contents div.contact-table form table, div.container .main-contents div.contact-table form th, div.container .main-contents div.contact-table form td {
  border: 1px solid #a0a0a0;
}

/*# sourceMappingURL=contact.css.map */
