img {
  max-width: 100%;
  display: block;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.button-field .form-normal-button {
  display: block !important;
  box-sizing: border-box !important;
  border-radius: 15px !important;
  cursor: pointer;
  box-shadow: 0 3px 3px gray;
  width: 100%;
  padding: 0 50px !important;
  height: 93px;
  font-size: 1.6em;
  font-weight: bold;
  border: 1px solid #7f7f7f !important;
  color: black;
  background: linear-gradient(#fff, #ececec);
}
.button-field .form-primary-button {
  display: block !important;
  box-sizing: border-box !important;
  border-radius: 15px !important;
  cursor: pointer;
  box-shadow: 0 3px 3px gray;
  width: 100%;
  padding: 0 50px !important;
  height: 93px;
  font-size: 1.6em;
  font-weight: bold;
  border: #0c0066 1px solid !important;
  color: white;
  background: linear-gradient(#4947b9, #171573);
}
.button-field .form-secondary-button {
  display: block !important;
  box-sizing: border-box !important;
  border-radius: 15px !important;
  cursor: pointer;
  box-shadow: 0 3px 3px gray;
  width: 100%;
  padding: 0 50px !important;
  height: 93px;
  font-size: 1.6em;
  font-weight: bold;
  border: #47041d 1px solid !important;
  color: white;
  background: linear-gradient(#b23a3a, #7e1b1b);
}
.button-field .next-arrow-button {
  position: relative;
}
.button-field .next-arrow-button::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
}
.button-field .prev-arrow-button {
  position: relative;
}
.button-field .prev-arrow-button::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 0;
  border-bottom: solid 2px #f69727;
  border-left: solid 2px #f69727;
  transform: rotate(45deg);
}

div.container {
  max-width: 950px;
  margin: 0 auto;
}
div.container header {
  background-color: #ed6c00;
  margin: 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  div.container header {
    padding: 12px 7px;
  }
}
div.container header h1 {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 150%;
}
@media only screen and (max-width: 600px) {
  div.container header h1 {
    font-size: 14px;
  }
}
div.container header h1 a {
  color: black;
  text-decoration: none;
}
div.container header h1 a span {
  color: white;
  font-size: 120%;
}
div.container header .header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  div.container header .header-buttons {
    font-size: 12px;
  }
}
div.container header .header-buttons .shopping-cart {
  position: relative;
}
div.container header .header-buttons .shopping-cart .shopping-count-badge {
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #ad0000;
  color: white;
  border-radius: 50%;
  padding: 1px 0.25em;
}
@media only screen and (max-width: 600px) {
  div.container header .header-buttons .shopping-cart .shopping-count-badge {
    right: -5px;
    top: -5px;
  }
}
div.container header .header-buttons .shopping-cart .shopping-count-badge.disabled {
  display: none;
}
div.container header .header-buttons .shopping-cart-button {
  width: 212px;
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 2px;
  background: linear-gradient(#f6f6f6, #d9d9d9);
  border: #8c7f74 solid 1px;
  border-radius: 2px;
}
@media only screen and (max-width: 600px) {
  div.container header .header-buttons .shopping-cart-button {
    width: 122px;
  }
}
div.container header .header-buttons .shopping-cart-button i {
  color: #ba4a00;
  padding-right: 5px;
}
div.container header .header-buttons .avatar-button {
  width: 212px;
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 2px;
  background: linear-gradient(#f6f6f6, #d9d9d9);
  border: #8c7f74 solid 1px;
  border-radius: 2px;
}
@media only screen and (max-width: 600px) {
  div.container header .header-buttons .avatar-button {
    width: 122px;
  }
}
div.container header .header-buttons .avatar-button i {
  color: #f38900;
  padding-left: 2px;
  padding-right: 3px;
}
div.container .banner img {
  width: 100%;
  display: block;
}
div.container .breadcrumb-list {
  background-color: #461e1e;
}
div.container .breadcrumb-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
div.container .breadcrumb-list ul li {
  text-align: right;
}
div.container .breadcrumb-list ul li a {
  color: white;
  text-decoration: none;
}
div.container .breadcrumb-list ul li + li::before {
  content: ">";
  color: white;
  margin: 0 5px;
}
div.container .main-contents {
  background-color: #fef7e9;
}
div.container .main-contents h2 {
  position: relative;
  margin-top: 0;
  margin-bottom: 2em;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}
div.container .main-contents h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}
div.container .main-contents div.no-item-message p {
  margin: 0;
  padding: 0 110px 50px;
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.no-item-message p {
    padding: 0 20px 50px;
  }
}
div.container .main-contents div.no-item-message p i.fas {
  padding: 0 6px;
}
div.container footer .footer-logo {
  text-align: center;
  font-size: 25px;
  background-color: #ed6c00;
  color: white;
  padding: 20px 0;
}
div.container footer .ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #bebebe;
}
div.container footer .ads a {
  display: block;
  box-sizing: border-box;
  width: 320px;
  height: 100px;
  border: 1px solid white;
  margin: 10px 0;
}

li.cart-table-body-list-item {
  border-right: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
}
li.cart-table-body-list-item:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
@media only screen and (max-width: 600px) {
  li.cart-table-body-list-item:nth-child(1) {
    width: 60px;
  }
}
li.cart-table-body-list-item:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
}
@media only screen and (max-width: 600px) {
  li.cart-table-body-list-item:nth-child(2) {
    width: calc(100% - 60px - 2px);
    border-right: none;
  }
}
li.cart-table-body-list-item:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
@media only screen and (max-width: 600px) {
  li.cart-table-body-list-item:nth-child(3) {
    width: 100%;
    border-right: none;
    justify-content: flex-end;
  }
}
li.cart-table-body-list-item:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-right: none;
}
@media only screen and (max-width: 600px) {
  li.cart-table-body-list-item:nth-child(4) {
    width: 100%;
    justify-content: flex-end;
  }
}

div.container .main-contents div.cart-table form {
  margin-left: 30px;
  margin-right: 30px;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.cart-table form {
    margin-left: 0;
    margin-right: 0;
  }
}
div.container .main-contents div.cart-table form .a-shop {
  border: 1px solid #a0a0a0;
  background-color: white;
  margin-bottom: 30px;
}
div.container .main-contents div.cart-table form .a-shop h3 {
  margin: 0;
  background-color: #e5e5e5;
  padding: 20px;
  text-align: center;
}
div.container .main-contents div.cart-table form .a-shop .cart-table-heading ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.cart-table form .a-shop .cart-table-heading {
    display: none;
  }
}
div.container .main-contents div.cart-table form .a-shop .cart-table-body ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.cart-table form .a-shop .cart-table-body ul {
    flex-wrap: wrap;
  }
}
div.container .main-contents div.cart-table form .a-shop .cart-table-body ul .trash-icon {
  border: 2px solid #cfbab6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.container .main-contents div.cart-table form .a-shop .cart-table-body ul .trash-icon .fas {
  font-size: 25px;
  color: #734338;
}
div.container .main-contents div.cart-table form .a-shop .cart-table-body ul .shopping-item-column {
  display: flex;
  align-items: center;
}
div.container .main-contents div.cart-table form .a-shop .cart-table-body ul .shopping-item-column > img {
  width: 70px;
  padding-left: 1em;
}
div.container .main-contents div.cart-table form .a-shop .cart-table-body ul .shopping-item-column > div {
  padding-left: 1em;
}
div.container .main-contents div.cart-table form .a-shop .cart-table-postage {
  border-top: 1px solid #a0a0a0;
}
div.container .main-contents div.cart-table form .a-shop .cart-table-postage, div.container .main-contents div.cart-table form .a-shop .cart-table-price {
  font-weight: bold;
  text-align: center;
}
div.container .main-contents div.cart-table form .total-price {
  background-color: #dd3333;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 0;
}
div.container .main-contents div.cart-table form .button-field {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}
div.container .main-contents div.cart-table form .button-field button {
  flex-basis: 49%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  div.container .main-contents div.cart-table form .button-field button {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=shopping-cart.css.map */
